.blog-title {
margin: 1em 0 .25em 0;
}

.blog-subtitle {
  margin: 0 0 .25em 0;
}

.blog-date {
  margin: 0;
}

.blog-footer {
  #border-top: 1px solid lightgrey;
  padding-top: 1em;
  #margin-top: 2em;
  text-align: center;
}

.read-more {
  font-style: italic;
  font-size: .9em;
}

article {
  padding-bottom: 1em;
  border-bottom: 1px solid lightgrey;
}

article a {
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

article a:visited {
  text-decoration: none;
  color: blue;
}

.blog-footer a {
  text-decoration: none;
}

.blog-footer a:hover {
  text-decoration: underline;
}

.blog-footer a:visited {
  text-decoration: none;
  color: blue;
}

.fa-long-arrow-left {
  margin-right: .75em;
}

.fa-long-arrow-right {
  margin-left: .75em;
}