.blog-title {
margin: 1em 0 0em 0;
}

.blog-subtitle {
  margin: .25em 0 0 0;
  font-weight: normal;
}

.blog-date {
  margin-top: .25em;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1em;
  font-weight: normal;
}

.blog-footer {
  padding-top: 1em;
  text-align: center;
}

.read-more {
  font-style: italic;
  font-size: .9em;
}

.index-separator {
  border-bottom: 1px solid lightgrey;
}

article {
  padding-bottom: 1em;
}

article img {
  border: 2px dashed lightgrey;
  margin: 1em 0 0 2em;
}

article .noborder {
  border: 0px;
}

article a {
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

article a:visited {
  text-decoration: none;
  color: blue;
}

.blog-footer {;
  border-top: 1px solid lightgrey;
  font-weight: 300;
  font-size: .95em;
}

.blog-footer a {
  text-decoration: none;
}

.blog-footer a:hover {
  text-decoration: underline;
}

.blog-footer a:visited {
  text-decoration: none;
  color: blue;
}

.fa-long-arrow-left {
  margin-right: .75em;
}

.fa-long-arrow-right {
  margin-left: .75em;
}