body {
  margin: 0;
  margin-bottom: 2em;
  height: 100%;
  font-family: "Open Sans", sans-serif;

}

.debug {
  border: 1px solid red;
}

.sidebar {
  background-color: teal;
  position: fixed;
  float: right;
  top: 0;
  right: 0;
  width: 22%;
  height: 100%;
  color: white;
}

.sidebar-intro {
  text-align: center;
}

.sidebar-intro img {
  padding: 2em;
  display: block;
  margin: auto;
  margin-top: 2em;
}

.sidebar-intro h3 {
  font-size: 1.7em;
}

.sidebar-intro p {
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 2em;
  font-size: .95em;
}

.menu ul {
  margin: 0;
  padding: 0;
}

.menu li {
  list-style-type: none;
  display: block;
  border-top: 0px solid white;
  text-align: center;
}

.menu a {
  text-decoration: none;
  padding: 1em;
  color: white;
  display: block;
}

.menu a:hover {
  text-decoration: none;
  display: block;
  background-color: white;
  color: black;
}

.menu .current {
  background-color: white;
}

.menu .current a {
  color: black;
}

.social-media-icons {
  margin-top: 2em;
}

.social-media-icons li {
  display: inline;
  list-style-type: none;
  padding: 1em;
  margin-top: 100px;
  text-decoration: none;
  font-size: 1.5em;
  overflow: hidden;
}

.social-media-icons li a {
  text-decoration: none;
  color: lightgrey;
}

.social-media-icons li a:hover {
  color: white;
}

.social-media-icons li visited {
  text-decoration: none;
}

.copyright {
  text-align: center;
  margin-top: 45%;
  text-align: center;
  font-size: .9em;
  bottom: 0;
}

.main-content {
  padding-left: 10%;
  padding-right: 10%;
  width: 58%;
}

.main-content h2 {
  font-size: 2em;
  font-weight: bold;
}

.main-content h3 {
  font-size: 1.5em;
}

.header-image {
  background-color: lightpink;
  height: 300px;
  width: 78%;
  border: 1px solid red;
}

.image-caption {
  color: grey;
  font-size: .8em;
}

code {
  font-family: monospace;
  font-size: 1.1em;
  background-color: #f1f1f1;
  padding: 1px 5px;
  word-wrap: break-word;
}

.codeblock {
  font-family: monospace;
  font-size: 1.1em;
  border: 1px solid lightgrey;
  margin: 1em 0 1em 2em;
  background-color: #f1f1f1;
  padding: 1em 0em;
  border-radius: 5px;
  line-height: 2em;
}

.contact-icons li {
  display: inline;
  list-style-type: none;
  margin-left: 1.5em;
  text-decoration: none;
  font-size: 3em;
  overflow: hidden;
  width: 100%;
}

.contact-icons li a {
  text-decoration: none;
  color: black;
}

.contact-icons li a:hover {
  color: grey;
}

.contact-icons li visited {
  text-decoration: none;
}